In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../data/Citywide_Payroll_Data__Fiscal_Year__20240616.csv",
    parse_dates = [ "Fiscal Year"], dtype = {"Payroll Number": "str"}
)

In [5]:
data.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2023-01-01,67,ADMIN FOR CHILDREN'S SVCS,ROODE,SELENA,R,07/22/2019,BRONX,CHILD PROTECTIVE SPECIALIST,ACTIVE,65921.0,per Annum,1820.0,65977.23,6.50,244.34,4400.66
1,2023-01-01,67,ADMIN FOR CHILDREN'S SVCS,AARON,TERESA,NaN,03/21/2016,BRONX,CHILD PROTECTIVE SPECIALIST,ACTIVE,65921.0,per Annum,1820.0,65998.30,448.00,22072.10,15938.80
2,2023-01-01,67,ADMIN FOR CHILDREN'S SVCS,AARONS,CAMELIA,M,08/08/2016,BROOKLYN,CHILD PROTECTIVE SPECIALIST,ON LEAVE,65921.0,per Annum,602.0,23163.11,28.75,1295.17,8994.61
3,2023-01-01,67,ADMIN FOR CHILDREN'S SVCS,ABBASSI,MARIAM,N,11/21/2022,QUEENS,CHILD PROTECTIVE SPECIALIST,ACTIVE,55463.0,per Annum,1050.0,31082.77,27.75,928.43,3115.50
4,2023-01-01,67,ADMIN FOR CHILDREN'S SVCS,ABDEL WEDOUD,LASHAWN,NaN,04/24/2023,BROOKLYN,YOUTH DEVELOPMENT SPECIALIST,ACTIVE,50001.0,per Annum,280.0,7792.26,0.00,0.00,0.00

In [7]:
data.dtypes

Fiscal Year                   datetime64[ns]
Payroll Number                        object
Agency Name                           object
Last Name                             object
First Name                            object
Mid Init                              object
Agency Start Date                     object
Work Location Borough                 object
Title Description                     object
Leave Status as of June 30            object
Base Salary                          float64
Pay Basis                             object
Regular Hours                        float64
Regular Gross Paid                   float64
OT Hours                             float64
Total OT Paid                        float64
Total Other Pay                      float64
dtype: object

In [9]:
doc_data = data[data ["Agency Name"].apply(lambda x: "CORRECTION" in str(x))]

In [ ]:
doc_data.groupby(["Title Description"]).agg()