In [81]:
import pandas as pd

In [82]:
payroll_data = pd.read_csv("../data/Citywide_Payroll_Data_(Fiscal_Year)_20251030.csv")

/var/folders/st/dfk890kd7676n0nlqyq09syc0000gn/T/ipykernel_98273/1763715713.py:1: DtypeWarning: Columns (7,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  payroll_data = pd.read_csv("../data/Citywide_Payroll_Data_(Fiscal_Year)_20251030.csv")

In [140]:
payroll_data.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2025,67.0,ADMIN FOR CHILDREN'S SVCS,FORRESTER,SHAUN,T,12/02/2024,QUEENS,2025,CEASED,NaN,per Annum,301,NaN,5,156.34,$0.00
1,2025,67.0,ADMIN FOR CHILDREN'S SVCS,SHARMA,MEYHAR,NaN,06/02/2025,MANHATTAN,2025,ACTIVE,NaN,per Hour,35,918.05,0,0.00,$0.00
2,2025,67.0,ADMIN FOR CHILDREN'S SVCS,SYAKHROZA,MAIMA,M,06/02/2025,MANHATTAN,2025,ACTIVE,NaN,per Hour,35,918.05,0,0.00,$0.00
3,2025,67.0,ADMIN FOR CHILDREN'S SVCS,GIL,MARIA,NaN,06/09/2025,MANHATTAN,2025,ACTIVE,NaN,per Annum,35,NaN,0,0.00,$0.00
4,2025,67.0,ADMIN FOR CHILDREN'S SVCS,GAZCA CALIXTO,NATASHA,R,06/02/2025,MANHATTAN,2025,ACTIVE,NaN,per Hour,35,665.00,0,0.00,$0.00

In [144]:
payroll_data.dtypes

Fiscal Year                     object
Payroll Number                 float64
Agency Name                     object
Last Name                       object
First Name                      object
Mid Init                        object
Agency Start Date               object
Work Location Borough           object
Title Description             category
Leave Status as of June 30      object
Base Salary                    float64
Pay Basis                       object
Regular Hours                   object
Regular Gross Paid             float64
OT Hours                        object
Total OT Paid                  float64
Total Other Pay                 object
dtype: object

In [145]:
payroll_data["Regular Gross Paid"] = payroll_data["Regular Gross Paid"].str.replace("$", " ", regex=False)
payroll_data["Total OT Paid"] = payroll_data["Total OT Paid"].str.replace('$', " ", regex=False)

AttributeError: Can only use .str accessor with string values!

In [146]:
payroll_data["Regular Gross Paid"] = pd.to_numeric(payroll_data["Regular Gross Paid"], errors='coerce')
payroll_data["Total OT Paid"] = pd.to_numeric(payroll_data["Total OT Paid"], errors='coerce')
payroll_data["Base Salary"] = pd.to_numeric(payroll_data["Base Salary"], errors='coerce')

In [147]:
payroll_data["Fiscal Year"] = payroll_data["Fiscal Year"].astype("category")
payroll_data["Title Description"] = payroll_data["Title Description"].astype("category")
payroll_data["Fiscal Year"] = payroll_data["Fiscal Year"].astype(object)

In [148]:
payroll_data.dtypes

Fiscal Year                     object
Payroll Number                 float64
Agency Name                     object
Last Name                       object
First Name                      object
Mid Init                        object
Agency Start Date               object
Work Location Borough           object
Title Description             category
Leave Status as of June 30      object
Base Salary                    float64
Pay Basis                       object
Regular Hours                   object
Regular Gross Paid             float64
OT Hours                        object
Total OT Paid                  float64
Total Other Pay                 object
dtype: object

In [149]:
doc_data = payroll_data[payroll_data["Agency Name"].apply(lambda x: "DEPARTMENT OF CORR" in str(x))]

In [150]:
doc_data.head()

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
874561,2025,72.0,DEPARTMENT OF CORRECTION,PERSAUD,NARENDRA,NaN,06/19/2017,QUEENS,2025,ACTIVE,NaN,per Annum,"2,080",NaN,0,147.01,"$18,269.71"
874562,2025,72.0,DEPARTMENT OF CORRECTION,HATCHETT,KENEEDRA,NaN,06/19/2017,QUEENS,2025,CEASED,NaN,per Annum,664,NaN,122.22,NaN,"$11,836.51"
874563,2025,72.0,DEPARTMENT OF CORRECTION,MORALES,YIRIS,G,06/19/2017,QUEENS,2025,CEASED,NaN,per Annum,0,0.0,0,0.00,"$1,365.66"
874564,2025,72.0,DEPARTMENT OF CORRECTION,LITTLEFIELD,CRAIG,NaN,06/19/2017,QUEENS,2025,CEASED,NaN,per Annum,0,0.0,0,0.00,$75.00
874565,2025,72.0,DEPARTMENT OF CORRECTION,ROY,PRODDUT,NaN,06/19/2017,BRONX,2025,ACTIVE,NaN,per Annum,"2,080",NaN,704.4,NaN,"$24,947.47"

In [151]:
doc_corrections_data_reduced = doc_data[doc_data["Regular Gross Paid"] ==  "per Annum"]

print(f"Number of rows for the original dataframe is \
{len(payroll_data)} and the number of rows for the reduced dataframe is {len(doc_data)}")

Number of rows for the original dataframe is 6775830 and the number of rows for the reduced dataframe is 146934

In [152]:
doc_sum = doc_corrections_data_reduced.groupby("Fiscal Year")["Regular Gross Paid"].sum()
print(doc_sum)

Series([], Name: Regular Gross Paid, dtype: float64)

In [154]:
doc_corrections_data_reduced.groupby(["Title Description"]).agg(
                      {"Total OT Paid":"median",
                      "Base Salary":"median",
                      "Total OT Paid":"count"
                      }
      ).reset_index(
    
    ).sort_values(
        by="Base Salary",
)

/var/folders/st/dfk890kd7676n0nlqyq09syc0000gn/T/ipykernel_98273/1659414283.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  doc_corrections_data_reduced.groupby(["Title Description"]).agg(

   Title Description  Total OT Paid  Base Salary
0               2014              0          NaN
1               2015              0          NaN
2               2016              0          NaN
3               2017              0          NaN
4               2018              0          NaN
5               2019              0          NaN
6               2020              0          NaN
7               2021              0          NaN
8               2022              0          NaN
9               2023              0          NaN
10              2024              0          NaN
11              2025              0          NaN